body{
  font-family: "sailec";
  margin-left: 8%;
  margin-top: 5%;
}

input[type=checkbox]{
  font-size: 1.8em;
  color: red;
  background-color: blue;
}

img{
  width:110px;
  height:110px;
}

h2{
  margin-bottom: 10px;
  margin-top: 0px;
}

.options{

  display: inline-flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width:100px;
}

.column2{
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width:150px;
}

.column3{
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width:200px;
}

.medboi{
  display: inline;
  margin-left:3%;
}

.bigboi{
  display: flex;
  margin-top: 3%;
  background-color: #b0c8ff;
  padding: 3%;
}

.title{
  display: inline;
}
